.todo-main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 100px;
  padding: 120px 0 150px 0;
  font: "Pretendard-Regular";
}

.todo-search-box {
  width: 100%;
  display: none;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
}

.todo-search {
  width: auto;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px 20px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 30px;
}

.todo-search-detail {
  width: auto;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.todo-search-icon {
  width: 24px;
  height: 24px;
}

.todo-search-write {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  color: #767676;
  text-align: center;
}

.todo-left {
  position: relative;
  width: 100%;
  max-width: 440px;
  min-height: 800px;
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 1 0 0;
  flex-direction: column;
  padding: 39px 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 12px 0px;
  background-color: #eeeae7;
  border-radius: 13px;
}

.todo-left-box {
  width: 100%;
  height: auto;
}
.todo-left-top {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.clear-box {
  width: 100%;
  display: flex;
  justify-content: end;
}

.todo-left-clear {
  width: auto;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 17px;
  font-weight: 600;
  color: #e13838;
  text-align: right;
  cursor: pointer;
}

.todo-left-title {
  align-self: stretch;
  font-size: 20px;
  font-weight: 600;
  color: #795a4b;
}

.todo-left-detail {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #795a4b;
}

.todo-left-detail-box {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}
.todo-left-detail-textbox {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-self: stretch;
  flex-direction: column;
}

.todo-left-detail-box p {
  font-size: 15px;
  color: #a4a4a4;
  text-align: start;
}

.todo-left-detail-box h4 {
  font-size: 20px;
  color: rgba(135, 110, 99, 0.5);
  text-decoration: line-through;
  font-weight: 600;
}

.todo-left-detail-delete {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.todo-right {
  position: relative;
  width: 100%;
  max-width: 440px;
  min-height: 800px;
  display: flex;
  gap: 20px;
  flex: 1 0 0;
  flex-direction: column;
  padding: 30px 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 12px 0px;
  background: #fff7ef;
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
}

.todo-right-date {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  color: #a47e6d;
  margin-bottom: 25px;
  letter-spacing: 3px;
}

.todo-right-title {
  font-size: 20px;
  font-weight: 600;
  color: #795a4b;
}

.todo-right-create-box {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 12.5px;
  background-color: #fff7ef;
  border-radius: 30px;
}

.todo-right-create-input {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
}
.todo-right-create-input::placeholder {
  color: #cfbbb2;
  font-size: 0.9rem;
}

.todo-right-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #795a4b;
}

.todo-right-detail-left {
  display: flex;
  gap: 20px;
  align-items: center;
}
.todo-right-detail-left a {
  display: flex;
  align-items: center;
}

.todo-right-detail-text {
  font-size: 20px;
  color: rgba(135, 110, 99, 0.5);
  text-decoration: none;
  word-break: break-all;
  font-weight: 600;
}

.todo-right-detail-right {
  display: flex;
  gap: 5px;
  align-items: center;
}

.todo-right-detail-right-modify {
  cursor: pointer;
}
.todo-right-detail-right-delete {
  cursor: pointer;
}

.realdelete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
}

.realdelete.open {
  display: flex;
}

.realdelete p {
  font-size: 50px;
  text-align: center;
}

.realdelete span {
  font-size: 30px;
  font-weight: 700;
  color: red;
  text-align: center;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.delete-button {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border: 2px solid #a47e6d;
  background: #fff;
  cursor: pointer;
  border-radius: 500px;
}

.delete-button p {
  font-size: 30px;
  color: #a47e6d;
  text-align: center;
}

.todo-right-detail-left-icon-empty {
  min-width: 24px;
  min-height: 24px;
  cursor: pointer;
}

.todo-right-detail-left-icon {
  min-width: 24px;
  min-height: 24px;
  cursor: pointer;
}

.todo-right-create-icon {
  cursor: pointer;
}
.checkbox {
  cursor: pointer;
}
.create-button {
  outline: none;
  all: unset;
}

.create-button svg {
  width: 25px;
  height: 22px;
  margin-top: 4px;
  color: #795a4b;
}

.modifybox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  padding: 125px 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 13px;
}
.modifybox.open {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-flow: column;
}

.mb-menu {
  display: none;
  justify-content: start;
  cursor: pointer;
}

.mb-menumodal {
  display: none;
}

.open-todolist {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 600;
  color: #694e42;
  cursor: pointer;
}

.open-successlist {
  font-size: 20px;
  font-weight: 600;
  color: #694e42;
  cursor: pointer;
}

.close-menu {
  cursor: pointer;
  margin-bottom: 20px;
}
.svg-box {
  width: 100%;
  display: flex;
  justify-content: start;
}

@media all and (max-width: 768px) {
  .todo-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .todo-left {
    min-width: 440px;
    display: flex;
    padding: 40px 50px;
  }
  .todo-right {
    min-width: 440px;
    display: none;
    padding: 40px 50px;
  }
  .mb-menu {
    display: flex;
  }
  .mb-menumodal {
    padding: 20px 20px;
    position: fixed;
    top: 100px;
    left: 0;
    width: 200px;
    height: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }
}
