.todo-main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 100px;
  padding: 30px 0;
  font: "Pretendard-Regular";
}

.todo-search-box {
  width: 100%;
  display: none;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
}

.todo-search {
  width: auto;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px 20px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 30px;
}

.todo-search-detail {
  width: auto;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.todo-search-icon {
  width: 24px;
  height: 24px;
}

.todo-search-write {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  color: #767676;
  text-align: center;
}

.todo-left {
  width: 100%;
  max-width: 440px;
  min-height: 800px;
  display: flex;
  gap: 55px;
  align-items: center;
  flex: 1 0 0;
  flex-direction: column;
  padding: 39px 50px;
  border: 3px solid #795a4b;
  background: #f0ece9;
}

.todo-left-box {
  width: 100%;
  height: auto;
}
.todo-left-top {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.todo-left-clear {
  width: 100%;
  height: 23px;
  font-size: 20px;
  font-weight: 600;
  color: #e13838;
  text-align: right;
  cursor: pointer;
}

.todo-left-title {
  align-self: stretch;
  font-size: 25px;
  font-weight: 600;
  color: #694e42;
}

.todo-left-detail {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #795a4b;
}

.todo-left-detail-box {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}
.todo-left-detail-textbox {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-self: stretch;
  flex-direction: column;
}

.todo-left-detail-box p {
  font-size: 15px;
  color: #a4a4a4;
  text-align: start;
}

.todo-left-detail-box h4 {
  font-size: 20px;
  color: rgba(135, 110, 99, 0.5);
  text-decoration: line-through;
}

.todo-left-detail-delete {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.todo-right {
  width: 100%;
  max-width: 440px;
  min-height: 800px;
  display: flex;
  gap: 20px;
  flex: 1 0 0;
  flex-direction: column;
  padding: 40px 50px;
  border: 3px solid #795a4b;
  background: #fff7ef;
}

.todo-right-title-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.todo-right-dummy-box {
  width: 1px;
  height: 1px;
}

.todo-right-date {
  position: absolute;
  left: 50%;
  font-size: 40px;
  color: #694e42;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateX(-50%);
}

.todo-right-setting-box {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.todo-right-setting-box p {
  font-size: 20px;
  font-weight: 500;
  color: #694e42;
  text-align: end;
}

.todo-right-setting-icon {
  width: 24px;
  height: 24px;
}

.todo-right-title {
  font-size: 25px;
  font-weight: 600;
  color: #694e42;
}

.todo-right-create-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 12.5px;
  background-color: #fff;
  border-radius: 30px;
}

.todo-right-create-input {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
}
.todo-right-create-input::placeholder {
  color: #cfbbb2;
}

.todo-right-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #795a4b;
}

.todo-right-detail-left {
  display: flex;
  gap: 20px;
  align-items: center;
}
.todo-right-detail-left a {
  display: flex;
  align-items: center;
}

.todo-right-detail-text {
  font-size: 20px;
  color: rgba(135, 110, 99, 0.5);
  text-decoration: none;
  word-break: break-all;
}

.todo-right-detail-right {
  display: flex;
  gap: 5px;
  align-items: center;
}

.todo-right-detail-right-modify {
  cursor: pointer;
}
.todo-right-detail-right-delete {
  cursor: pointer;
}

.realdelete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
}

.realdelete.open {
  display: flex;
}

.realdelete p {
  font-size: 50px;
  color: #000;
  text-align: center;
}

.delete-button {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border: 2px solid #a47e6d;
  background: #fff;
  cursor: pointer;
  border-radius: 500px;
}

.delete-button p {
  font-size: 30px;
  color: #a47e6d;
  text-align: center;
}

.todo-right-detail-left-icon-empty {
  min-width: 24px;
  min-height: 24px;
  cursor: pointer;
}

.todo-right-detail-left-icon {
  min-width: 24px;
  min-height: 24px;
  cursor: pointer;
}

.todo-right-create-icon {
  cursor: pointer;
}
.checkbox {
  cursor: pointer;
}
.create-button {
  outline: none;
  all: unset;
}

@media all and (max-width: 768px) {
  .todo-main {
    justify-content: center;
  }
  .todo-left {
    min-width: 440px;
    display: none;
    margin: 0 50px;
  }
  .todo-right {
    min-width: 440px;
    margin: 0 50px;
  }
}
