/* 박민경 */

.logout-button,
.main-button {
  padding: 6px 11p;

  cursor: pointer;
  color: #896555 !important;
  padding: 6px 15px;
  border-radius: 24px;
}

.logout-button:hover,
.main-button:hover {
  border: none;
  color: #fff !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: #c1a89c;

  border-radius: 24px;
  padding: 6px 15px;
}

.header {
  position: fixed;

  top: 0;
  left: 0;
  /* z-index -> 맨 위로 오게하기 */

  width: 100%;
  height: 100px;
  display: block;
  border-bottom: 1px solid #896555;
  z-index: 999;
  background-color: #fefbf8;

  display: flex;
  padding: 0 15px;
}

.nav-inner {
  width: calc(100% - 30px);
  max-width: 1465px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
}

.navi-list a:hover {
  border: none;

  text-align: center;
  text-decoration: none;
  display: inline-block;

  transition: all 0.3s ease;

  background-color: #c1a89c;
  color: #fff;

  border-radius: 30px;
  padding: 6px 15px;
}

.header .inner {
  height: 100px;
}

.header-logo-link {
  display: flex;
  align-items: center;
}
.header-logo-img {
  width: 130px;
}

.navi-list {
  display: flex;
  gap: 250px;
  align-items: center;
}

.navi-list a {
  color: #896555;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Pretendard-Bold", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  word-wrap: break-word;

  padding: 6px 15px;
  border-radius: 30px;
}

.navi-list-2 {
  display: flex;
  gap: 51px;
  align-items: center;
  justify-content: center;
}

.navi-list-2 li {
  font-family: "Pretendard-Medium", sans-serif !important;
  font-weight: 500 !important;
}

.navi-list-2 a {
  color: #a47e6d !important;
  font-size: 17px;
  font-family: "Pretendard-Medium", sans-serif;
  font-weight: 500;
  letter-spacing: 1.7px;
  word-wrap: break-word;

  font-family: "Pretendard-Medium", sans-serif !important;
  font-weight: 500 !important;
  padding: 6px 15px;
  border-radius: 30px;
}

.navi-list-2 a:hover {
  color: #fff !important;

  background-color: #c1a89c;
  padding: 6px 15px;
  border-radius: 30px;

  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.header-navi {
  display: flex;
  gap: 373px;
}

@media all and (max-width: 1380px) {
  .header-logo-img {
    width: 101px;
  }
  .navi-list {
    gap: 52px;
  }

  .navi-list-2 {
    gap: 18px;
  }
}
@media all and (max-width: 835px) {
  .navi-list {
    gap: 33px;
  }
}

@media all and (max-width: 768px) {
  .navi-list {
    gap: 20px;
    white-space: nowrap;
    margin: 0 10px;
  }

  .navi-list a {
    font-size: 1.1rem;
    letter-spacing: 1.5px;
  }

  .navi-list-2 li {
    font-size: 13px;
  }
}
