.join-wrap {
  /* 임시 */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 0;
}

.container {
  min-width: 460px;
  width: 460px;
  /* padding: 20px; */
  border-radius: 5px;
  top: 0;
}

.container h2 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #a47e6d;
  text-align: center;
}

.mily-img-group {
  width: 110px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 5px;
}

.mily-img {
  width: 100%;
  height: 35px;
}
.join-in-title {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 0 !important;
}

.login-line {
  width: 100%;
  margin-bottom: 50px;
  border-bottom: 1px solid #cbb1a2;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form input[type="name"],
.login-form input[type="email"],
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #cbb1a2;
  background-color: transparent;
  box-sizing: border-box;
}

.error-pont {
  display: flex;
  justify-content: end;
  font-size: 14px;
  color: #ff554a;
}

.check-email {
}

.login-form input::placeholder {
  color: #d5c3bc;
}

.login-form button {
  width: 100%;
  height: 55px;
  margin-top: 45px;
  padding: 10px;
  border: none;
  background-color: #a47e6d;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

/* .login-form input[type="submit"]:hover {
        background-color: 
      } */

.join-btn {
  margin-top: 10px;
  border: none;
  float: right;
  background-color: transparent;
  color: #a47e6d;
}

.email-check {
  display: flex;
  width: auto !important;
  height: auto !important;
  margin-top: 0 !important;
  padding: 10px;
  border: none;
  background-color: #a47e6d;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.email-checkmodal {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 465px;
  height: 600px;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #000;
  padding: 20px 20px;
  gap: 20px;
}

.button-form {
  display: flex;
  gap: 20px;
}
