.wrap {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 575px;
  height: 514px;
  padding: 20px;
  border-radius: 5px;
}

.container h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  color: #a47e6d;
}

.login-line {
  width: 100%;
  border-bottom: 1px solid #cbb1a2;
  margin-bottom: 50px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cbb1a2;
  /* border-radius: 3px; */
  box-sizing: border-box;
  background-color: transparent;
}

.login-form button {
  width: 100%;
  height: 75px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin-top: 55px;
  background-color: #a47e6d;
}

/* .login-form input[type="submit"]:hover {
    background-color: 
  } */

.join {
  float: right;
}
